<div class="col-md-4">
   <h4><%= product.name %></h4>
   <p>$<%= product.pricePerUnit %></p>
   <p><%= product.description %></p>
   <% if show_details_link %>
     <p><%= link_to 'View Details', product %></p>
   <% end %>
</div>
