


<div class="container">
  <!-- Example row of columns -->
  <div class="row">

<%= render partial: 'product',
           collection: @products,
           locals: {show_details_link: true} %>

  </div>
</div>
<%= paginate @products %>

<%= render partial: 'cart' %>
<br />
You have visited this page <%= @count %> times.